*{
    padding: 0;
    margin: 0;
}
body{
    padding-top: 65px;
}
header{
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(22, 19, 19);
    color: white;
    position: fixed;
}

header ul{
    list-style: none;
}

header .item{
    float: left;
    text-decoration: none;
    display: block;
    padding: 30px 100px;
}
header a{
	color: white;
    font-family: Tahoma;
    font-size: 20px;
	text-decoration: none;
    display: block;
    background-color: rgb(22, 19, 19);
}

header .desplegable{
    display: none;
    position: absolute;
    width: 10%;
    text-align: center;
}

header .item:hover .desplegable{
    display: block;
}