*{
    padding:0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Karantina', cursive;
    color: white;
}

nav{
    height: 30px;
    background-color: #620CE5;
    color: white;
    padding: 1rem;
    text-align: center;
}

.main-container{
    min-height: calc(100vh - 30px - 75px - 2rem - 5rem);
    background: linear-gradient(to bottom, #620CE5, black);
    padding: 2.5rem;
}

.contenido{
    font-size: 20px;
    border: 10px;
    border-radius: 10px;
    background-color: black;
}
.main-container .contenido h3, h4{
    padding-left: 1.5rem;
}

a, li{
    padding-left: 2rem;

    list-style-type: none;
}


footer{
    height: 75px;
    background-color: black;
    color: white;
    text-align: center;
}